<div class="row">
  <%= form_tag('/stores', method: :post) do %>
  <h4>投稿する</h4>
    <div class="row">
      <div class="input-field col s8">
        <input placeholder="店名を入れてください" type="text" class="validate" name="store_name">
        <label for="first_name">店名</label>
      </div>
      <div class="input-field col s8">
        <input placeholder="(例)VISA､マスターカード､UC､アメックス､JCB等・・・" type="text" class="validate" name="c_card">
        <label for="first_name">使用できるクレジットカードの種類を入力してください</label>
      </div>
      <div class="input-field col s8">
        <input placeholder="(例)Suica、QUICPay等・・・" type="text" class="validate" name="e_money">
        <label for="first_name">使用できる電子マネーの種類を入力してください</label>
        <input type="submit" value="送信">
      </div>
    </div>
  <% end %>
</div>

