<div class="row">
  <div class="col s12 m5 offset-m3">
    <div class="card-panel teal">
      <h4 class="white-text">編集が完了しました</h4>
      <%= link_to '投稿一覧へ戻る', "/", class: "waves-effect waves-light btn  blue darken-3" %>
    </div>
  </div>
</div>
